
  



body{font-size: medium;
    padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    background-color: rgb(68, 214, 214);

    /** navigation bar starts **/

   ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fc5614;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: hwb(182 27% 9%);
} 
/**end of navi bar**/

}
footer{ padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    background-color: rgb(113, 222, 230);
}